.SuccessMessage {
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    color: rgba(81, 81, 245, 0.5);
}

.errorMessage {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}

i {
    padding: 0 0.5ch;
}

h2.title {
    color: rgba(0, 0, 255, 0.5);
}

.btn {
    background-color: rgba(0, 0, 255, 0.5);
}

option, .role {
    color: gray;
}