.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF2F2;
  color: gray;
}

.form1 {
  border-radius: 0.8em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: white;

}

.logo {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
    url("../public/side.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-top-left-radius: 0.8em;
  border-bottom-left-radius: 0.8em;
}